body{
    font-family: merriweatherregular;
}

#maincontainer {
    padding-top: 50px;
    padding-left: 50px;
}


#title{
    margin-bottom: 100px;
}

#menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    background-color: rgba(0,0,0,0);
    display: inline-block;
}

#menu a:hover{
    background-color: rgba(0,0,0,0.2);
    transition: all 0.1s;
}
